body {
	background-color: silver;
	font-family: Monospace, Arial;
	margin: 30px 30px 30px 30px;
}

h1 {
	text-align: center;
	margin: 30px 30px 30px 30px;
}


h2 {
	margin: 30px 30px 30px 30px;
}

h3 {
	margin: 30px 30px 30px 30px;
}

.button {
    background-color: #FFFFFF;
    border: 2px solid #555555;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #555555;
    color: white;
}
